section h1, section .info, section p{
    text-align: center;
    color: lime;
}

section h1{
    font-size: 2.5rem;
    font-weight: 700;
}

section .info{
    font-size: 1.8rem;
    font-weight: 400;
}

section p{
    font-size: 1.7rem;
}