<<<<<<< HEAD
section h1, section .info, section p{
    text-align: center;
    color: lime;
}

section h1{
    font-size: 2.5rem;
    font-weight: 700;
}

section .info{
    font-size: 1.8rem;
    font-weight: 400;
}

section p{
    font-size: 1.7rem;
=======
section h1, section p{
    text-align: center;
>>>>>>> 72216bc7c31fbfb498b4534d5bcf1d64f5b58a84
}