footer {
    top: 0;
    min-height: 100%;
    margin-top: 2rem;
    display: flex;
<<<<<<< HEAD
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
}

@media (max-width: 675px) {
    footer{
        flex-direction: column;
    }
}

.marge{
    margin-top: -0.5rem;
}

@media (min-width: 1150px) {
    footer{
        margin: 0 2rem 0 2rem;
        padding: 0 2rem 0 2rem;
    }
}

footer .droits-auteur{
=======
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer p{
>>>>>>> 72216bc7c31fbfb498b4534d5bcf1d64f5b58a84
    text-align: center;
}

.contact-icons {
<<<<<<< HEAD
    float: right;
    display: flex;
    justify-content: center; /* Centrer les icônes horizontalement */
    gap: 20px; /* Espacement entre les icônes */
}

@media(max-width: 400px){
    .contact-icons {
        display: flex;
        justify-content: center; /* Centrer les icônes horizontalement */
        flex-direction: column;
    }
}

.contact-icons img {
    width: 30px; /* Taille des images */
    height: auto;
}
=======
    display: flex;
    justify-content: center; /* Centrer les icônes horizontalement */
    gap: 30px; /* Espacement entre les icônes */
    flex-wrap: wrap;
}

.contact-icons img{
    width: 50px; /* Taille des images */
    height: auto;
    object-fit: contain;
}

.partners-icons img {
    width: 100px; /* Taille des images */
    height: auto;
}
/* 
@media (max-width: 900px) {
    .partners-icons {
        display: inline-block;
    }
} */
>>>>>>> 72216bc7c31fbfb498b4534d5bcf1d64f5b58a84
