<<<<<<< HEAD
section h2{
    text-align: center;
}

section form{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}
section form input, section form textarea{
    display: block;
    width: 100%;            /* tous les champs prennent la largeur du form */
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid lime;
    box-sizing: border-box;
}

section form input[type=submit] {
  background: none;
  color: lime;
  cursor: pointer;
  text-align: center;     /* centre le texte du bouton */
}

section form input[type=submit]:hover {
    background-color: lime;
    color: black;
    transition: ease-in 0.3s;
=======
section form, section h2{
    text-align: center;
}

section form input, section form button[type=submit]{
    display: block;
>>>>>>> 72216bc7c31fbfb498b4534d5bcf1d64f5b58a84
}