section form legend{
    text-align: center;
    color: #007BFF;
    font-size: 2rem;
}

section form{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}
section form input, section form textarea, section form select{
    display: block;
    width: 100%;            /* tous les champs prennent la largeur du form */
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #2563EB;
    box-sizing: border-box;
}

section form input[type=submit] {
  background: none;
  color: #2563EB;
  cursor: pointer;
  text-align: center;     /* centre le texte du bouton */
}

section form input[type=submit]:hover {
    background-color: lime;
    color: black;
    transition: ease-in 0.2s;
}